@import url('https://fonts.googleapis.com/');
* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', monospace;
    font-weight: 300;
    margin: 0;
}

#wrapper {
    display: flex;
    background: black;
    min-height: 100vh;
    flex-direction: column;
    width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 300;
    color: white
}

.header-main,
.footer-main {
    height: 60px;
    width: 100%;
    background: #ff2323;
}

.header-main .nav-main {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}

.nav li {
    float: right;
}

.nav #logo {
    float: left;
    font-size: 2em;
}

.nav a {
    text-decoration: none;
    color: #fff;
    margin-right: 10px;
    font-size: 90%;
}

li {
    list-style: none;
    text-transform: uppercase;
    font-size: 1.5em;
}

main {
    flex: 1;
}

main h1 {
    text-align: center;
    padding: 2em;
}

.order-row {
    overflow-x: auto;
}

table {
    width: 70%;
    background: white;
    border-radius: 1em 1em;
    ;
}

table,
th,
td {
    border: 1px solid black;
    padding: 1em;
    margin-top: 10px;
}

tr {
    margin: 1em 2em;
}

tr td {
    text-align: center;
}

td button {
    margin: 0 auto;
    border-radius: 10%;
    background: rgb(206, 28, 28);
    color: white;
    padding: 10px;
    cursor: pointer;
}

.footer-main {
    margin: 0;
    bottom: 0;
    position: absolute;
}

.footer-main p {
    margin: 0 auto;
    color: white;
    text-align: center;
    padding: 1em;
}

@media screen and (min-width: 500px) {
    .order-row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }
}