@import url('https://fonts.googleapis.com/');
* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', monospace;
    font-weight: 300;
    background: #181818;
}

#wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 300;
    color: white
}

.header-main,
.footer-main {
    background: #333;
    height: 50px;
    padding: 0;
    width: 100%;
}

.header-main .nav-main {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    list-style: none;
    text-transform: uppercase;
}

.header-main .nav-main h2 {
    margin: 0 auto;
    padding: 0.5em;
}

.nav-main a {
    text-decoration: none;
    color: #fff;
    margin-right: 10px;
    font-size: 90%;
}

main {
    flex: 1;
    background: url('/UI/img/veggies.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    position: relative;
}

main h1 {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 1em;
}

.signup-container {
    display: flex;
    flex-direction: column;
    background: white;
    width: 50%;
    height: 60vh;
    margin: 0 auto;
    margin-top: 2em;
    padding: 1em 1em 1em 1em;
}

.signup-container p {
    margin: 0 auto;
    padding: 1em;
}

.login-container {
    display: flex;
    flex-direction: column;
    background: white;
    width: 50%;
    height: 40vh;
    margin: 0 auto;
    margin-top: 2em;
    padding: 1em 1em 1em 1em;
}

.login-container p {
    margin: 0 auto;
    padding: 1em;
}

input[type=text],
input[type=number],
input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}


/* Style the submit button */

input[type=submit] {
    width: 100%;
    background-color: rgb(20, 24, 20);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


/* Add a background color to the submit button on mouse-over */

input[type=submit]:hover {
    background-color: #131a13;
}

.footer-main {
    color: #fff;
    margin: 0;
    padding: 1em;
    text-align: center;
}

.footer-main p {
    margin: 0 auto;
}

@media screen and (min-width: 500px) {
    .menu-items {
        width: 30%;
    }
    .menu-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }
}